<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1><Strong> Nosos Posts </Strong> </h1>

    <div class="categories">
        <div class="category-box">
            <div class="category-image">
                <img style="width: 50%;" src="../img/imd_card-3.jpg" alt="Cuidados com seu pet" />
            </div>
            <br>
            <h3>😄 Curiosidades dos cães 😄</h3>
            <br>
            <h2>7- Curiosidades dos cães</h2>
            <br>
            <p>
                1 – A audição dos cachorros é melhor que a dos humanos. ...
                2 – Impressão digital no focinho. ...
                3 – Cachorros enxergam cores. ...
                5 – Eles não entendem tudo o que os humanos dizem. ...
                6 – Seu pet soa pela (almofadinha da) pata. ...
                7 – O olfato do cão é mil vezes mais sensível que o dos seres huma</p>
        </div>
    </div>
</body>

</html>
