<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1><Strong> Nosos Posts </Strong> </h1>

    <div class="categories">
        <div class="category-box">
            <div class="category-image">
                <img style="width: 50%;" src="../img/imd_card-1.jpg" alt="Cuidados com seu pet" />
            </div>
            <br>
            <h3>😄 Cuidados com a saude do seu pet😄</h3>
            <br>
            <h2>Como caprichar nos cuidados com pet?</h2>
            <br>
            <p>Preste atenção na vacinação. Manter as vacinas em dia é uma necessidade para os humanos e os animais. ...
                Adote cuidados com higiene. ...
                Observe a saúde bucal. ...
                Marque consultas com veterinários para fazer um check-up. ...
                Tenha cuidado com o sedentarismo de cães e gatos.</p>
        </div>
    </div>
</body>

</html>