<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1><Strong> Nosos Posts </Strong> </h1>

    <div class="categories">
        <div class="category-box">
            <div class="category-image">
                <img style="width: 50%;" src="../img/imd_card-2.webp" alt="Cuidados com seu pet" />
            </div>
            <br>
            <h3>😄 As melhores dicas pra seu pet😄</h3>
            <br>
            <h2>Como cuidar dos animais de estimação?</h2>
            <br>
            <p> Preste atenção nas suas emoções.
                Dê todas as vacinas. 
                Faça exames regularmente. 
                Escove seus dentes.
                Cuide da alimentação. 
                Leve seu pet para passear. 
                Ofereça brinquedos. 
                Previna carrapatos, pulgas e outros parasitas.</p>
        </div>
    </div>
</body>

</html>