<div style="margin: 10%;" class="about-container">
    <h1 style="margin: 5%;"><Strong>Sobre o Seu-Pet</Strong></h1>
    <div class="about-content">
  
      <div style="background-color: rgb(186, 255, 255);" class="about-text">
        <div class="about-box">
          <h2>👀 Como surgimos 👀</h2>
          <p>
            Fundado recentemente a 2 anos, o Seu-Pet nasceu com a ideia de compratilhar o cuidado e carinho que todo pet merece. Nossa equipe e focada e dedica a trazer 
            conteúdo atualizado e de qualidade para todos os donos de pets, sempre buscando a melhor informação par cuidar do seu pet.
          </p>
        </div>
  
        <div  style="background-color: rgb(80, 80, 226);" class="about-box">
          <h2>💂‍♂️ Missão</h2>
          <p>
            Nossa missão é informar e alertar, o cuidado correto que as pessoas  devem ter com seus pets, promovendo concientização, ajudando nossos leitores a entender melhor 
            seus pets, desde as últimas descobertas até dicas mais simple, mas importates.
          </p>
        </div>
        <div style="background-color: aquamarine;" class="about-box">
          <h2>🔍 Visão</h2>
          <p>
            Ser referência no segmento de informação de pets, nós destacando-nos pela qualidade e confiabilidade de nosso conteúdo, 
            e sempre buscando inovar na forma de apresentar as novidades dos pets.
          </p>
        </div>
      </div>
    </div>
  </div>