
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body >
        <h1 style="width: 60%;" class="main-title"> <Strong> Nosos Posts </Strong> </h1>
        <br>
        <br>
        <br>
        
<div class="row">
    <div class="col-md-3">
        <nav>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <!-- Inicio -->
                    <div class="col-md-9">
                        <div class="card">
                            <img src="../img/img-2.webp" class="card-img-top" alt="Imagem do Post">
                            <div class="card-body">
                                <h5 class="card-title">Cuidados com a saude do seu pet </h5>
                                <p class="card-text">Veja todos os maiores cuidados para ter com seu pet</p>
                                <a routerLink="post1" routerLinkActive="active" class="nav-link">Post-1</a>
                            </div>
                        </div>
                    </div>
                    <!-- Fim -->
                </li>
                <li class="nav-item">

                    <!-- Inicio -->
                    <div class="col-md-9">
                        <div class="card">
                            <img src="../img/imd_card-2.webp" class="card-img-top" alt="Imagem do Post">
                            <div class="card-body">
                                <h5 class="card-title">As melhores dicas pra seu pet</h5>
                                <p class="card-text">Aprenda dicas valiosíssimas para o seu amigo pet</p>
                                <a routerLink="post2" routerLinkActive="active" class="nav-link">Post-2</a>
                            </div>
                        </div>
                    </div>
                    <!-- Fim -->
                </li>
                <li class="nav-item">

                    <!-- Inicio -->
                    <div class="col-md-9">
                        <div class="card">
                            <img src="../img/imd_card-3.jpg" class="card-img-top" alt="Imagem do Post">
                            <div class="card-body">
                                <h5 class="card-title">Curiosidades dos cães</h5>
                                <p class="card-text">Curiosidades ineditas do seu pet, que você não sabia! 😱</p>
                                <a routerLink="post3" routerLinkActive="active" class="nav-link">Post-3</a>
                            </div>
                        </div>
                    </div>
                    <!-- Fim -->
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        <router-outlet />
    </div>
</div>
    </body>
    </html>

