<div style="margin: 10%;" class="home-container">
    <div class="hero">
      <h1 >Bem-vindo ao Seu-Pet</h1>
      <p>Seu portal de referência em pets.</p>
      
    </div>
  
    <div class="categories">
      <div class="category-box">
        <div class="category-image">
          <img style="width: 50%;" src="../img/cuidados-e-carinhos-com-o-pet.png" alt="Cuidados com seu pet" />
        </div>
        <br>
        <h3>😄 Cuidados com seu pet 😄</h3>
        <p>Dicas e tutoriais para cuidar do seu pet.</p>
      </div>

      <div class="category-box">
        <div class="category-image">
          <img style="width: 50%;" src="../img/img-3.jpg" alt="Cuidados do pet" />
        </div>
        
        <br>
        <h3> 😲 Dicas para seu pet 😲 </h3>
        <p>Veja as melhores dicas pra seu pet.</p>
      </div>
      <div class="category-box">
        <div class="category-image">
          <img style="width: 50%;" src="../img/dicas-pets.jpg" alt="Encontros de pets" />
        </div>

        <br>
        <h3> 😍 Encontros de pets 😍</h3>
        <p>Participe de encontros e eventos de pets.</p>
        <img style="width: 50%;" src="../img/img-2.webp" alt="">
      </div>
    </div>
  </div>
  